[package]
name = "spacetimedb-commitlog"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license-file = "LICENSE"

description = "Implementation of the SpacetimeDB commitlog."

[features]
default = ["serde"]

[dependencies]
bitflags.workspace = true
crc32c.workspace = true
itertools.workspace = true
log.workspace = true
serde = { workspace = true, optional = true }
spacetimedb-primitives.workspace = true
spacetimedb-sats.workspace = true
thiserror.workspace = true

[target.'cfg(unix)'.dependencies]
libc = "0.2.153"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.9"

[dev-dependencies]
env_logger.workspace = true
once_cell.workspace = true
proptest-derive.workspace = true
proptest.workspace = true
rand.workspace = true
tempfile.workspace = true
