.App {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;

  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 1rem 0;
  border-bottom: 1px solid var(--theme-color);
}

h2 {
  flex: 1 1 auto;
  margin-bottom: 1em;
}

form {
  display: contents;
}

.chatbox {
  display: grid;
  grid-template-rows: 1fr auto;

  padding: 1rem 0;
}

.system {
  position: fixed;
  top: 5%;
  right: 2%;

  font-family: monospace;
}

.new-message {
  position: relative;

  display: flex;
  gap: 1rem;

  width: 100%;
}

.new-message input {
  --shadow: 0px 2.9px 10px rgba(0, 0, 0, 0.095),
    0px 23px 80px rgba(0, 0, 0, 0.19);
  min-width: 0;
  flex: 1 1 auto;

  padding: 1.7rem;
  padding-right: 5rem;

  border: none;
  border-radius: 3rem;
  background-color: var(--textbox-color);
  caret-color: var(--theme-color);
  font-family: monospace;
  font-weight: 400;
  font-size: 1rem;
  resize: none;
  box-shadow: var(--shadow);
}

.new-message input:focus {
  outline: none;
  box-shadow:
    var(--shadow),
    0 0 0 2px var(--theme-color);
}

@media (prefers-color-scheme: dark) {
  .new-message input {
    --shadow: 0 0 0 1px #17492b;
  }
}

.new-message button {
  position: absolute;
  right: 0.75rem;
  top: 50%;

  border-radius: 2rem;

  translate: 0 -50%;
}
