/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler

# These license files are all covered by the `CODEOWNERS check` CI check as well
LICENSE @cloutiertyler @jdetter
LICENSE.txt @cloutiertyler @jdetter
/licenses/ @cloutiertyler @jdetter

/crates/client-api-messages/src/websocket.rs @centril @gefjon

/tools/ci/ @bfops @cloutiertyler @jdetter
/tools/ci/src/keynote_bench.rs @joshua-spacetime @cloutiertyler @jdetter
/tools/ci/src/codeowners_check.rs @cloutiertyler
/tools/upgrade-version/ @bfops @jdetter @cloutiertyler @rekhoff
/tools/release/ @bfops @jdetter @cloutiertyler @rekhoff
/tools/license-check/ @bfops @jdetter @cloutiertyler
/.github/ @bfops @jdetter @cloutiertyler
/.github/workflows/release.yml @bfops @jdetter @cloutiertyler @rekhoff

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon

/.github/CODEOWNERS @cloutiertyler
