services:
  node:
    labels:
      app: spacetimedb
    build:
      context: ../
      dockerfile: .github/Dockerfile
    ports:
      - "${STDB_PORT:-3000}:3000"
      # Postgres
      - "${STDB_PG_PORT:-5432}:5432"
    entrypoint: spacetime start --pg-port 5432
    privileged: true
    environment:
      RUST_BACKTRACE: 1
