[package]
name = "spacetimedb-quickstart-module"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
spacetimedb = { path = "../../crates/bindings" , features = ["getrandom"]}
