[workspace]
members = [
  "crates/standalone",
  "crates/lib",
  "crates/core",
  "crates/bindings-sys",
  "crates/bindings",
  "crates/bench",
  "crates/bindings-macro",
  "crates/cli",
  "crates/sats",
  "crates/testing",
  "crates/vm",
  "crates/replay",
  "crates/client-api",
  "crates/sdk",
  "crates/client-api-messages",
  "crates/sqltest",
  "modules/rust-wasm-test",
  "modules/benchmarks",
  "modules/spacetimedb-quickstart",
  "modules/quickstart-chat",
]
default-members = ["crates/cli"]

[profile.release]
opt-level = 3
debug-assertions = false
overflow-checks = false
lto = "thin"
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false

[profile.release-fast]
inherits = "release"
lto = "thin"

[profile.dev]
opt-level = 0
debug = true
debug-assertions = true
overflow-checks = true
lto = false
panic = 'unwind'
incremental = true
codegen-units = 256
rpath = false

[profile.bench]
debug = true

[workspace.dependencies]
# Vendor the openssl we rely on, rather than depend on a
# potentially very old system version.
openssl = { version = "0.10", features = ["vendored"] }