@import '@fontsource-variable/inter';
@import '@fontsource-variable/source-code-pro';
@import './typography.css';

:root {
  /* // primary */
  --clockworklabs-color-green: #4cf490;
  --clockworklabs-color-green-75: #4cf490bf;
  --clockworklabs-color-green-50: #4cf49080;
  --clockworklabs-color-green-25: #4cf49040;
  --clockworklabs-color-green-20: #4cf49033;
  --clockworklabs-color-green-10: #4cf4901a;

  /* // TODO: check the below 6 with Randy and get them in the style guide */
  --clockworklabs-color-green-dark: #2ef27d;
  --clockworklabs-color-green-darker: #1ff174;
  --clockworklabs-color-green-darkest: #0dd35d;
  --clockworklabs-color-green-light: #6af6a3;
  --clockworklabs-color-green-lighter: #79f7ac;
  --clockworklabs-color-green-lightest: #a6fac8;

  --clockworklabs-color-white: #f4f6fc;
  --clockworklabs-color-white-rgb: 244 246 252;
  --clockworklabs-color-yellow: #fbdc8e;
  --clockworklabs-color-yellow-25: #fbdc8e40;
  --clockworklabs-color-purple: #a880ff;
  --clockworklabs-color-orange: #ff9e9e;
  --clockworklabs-color-blue: #02befa;
  --clockworklabs-color-blue-25: #02befa40;
  --clockworklabs-color-pink: #ff80fb;
  --clockworklabs-color-pink-10: #ff80fb1a;
  --clockworklabs-color-pink-25: #ff80fb40;
  --clockworklabs-color-teal: #00ccb4;
  --clockworklabs-color-red: #ff4c4c;
  --clockworklabs-color-red-2: #fc6897;

  /* // shade */
  --clockworklabs-color-shade1: #141416;
  --clockworklabs-color-shade2: #0d0d0e;

  /* // grayscale */
  --clockworklabs-color-n1: #e6e9f0;
  --clockworklabs-color-n1-rgb: 230, 233, 240;
  --clockworklabs-color-n2: #ced3e0;
  --clockworklabs-color-n3: #b6c0cf;
  --clockworklabs-color-n3-rgb: 182, 192, 207;
  --clockworklabs-color-n4: #6f7987;
  --clockworklabs-color-n4-hover: rgba(111, 121, 135, 0.25);
  --clockworklabs-color-n5: #363840;
  --clockworklabs-color-n6: #202126;
  --clockworklabs-color-n6-rgb: 32, 33, 38;
  --clockworklabs-color-n7: #050505;
  --clockworklabs-color-n8: #060606;

  /* // ui remapping */
  --clockworklabs-title-color: var(--clockworklabs-color-white);
  --clockworklabs-code-color: var(--clockworklabs-color-yellow);
  --clockworklabs-code-border-color: var(--clockworklabs-color-n6);
  --clockworklabs-code-background-color: var(--clockworklabs-color-shade2);
  --clockworklabs-navbar-border-color: rgb(var(--clockworklabs-color-white-rgb) / 11%);
  --clockworklabs-strong-color: var(--clockworklabs-color-n2);
  --clockworklabs-font-source: 'Source Code Pro Variable', monospace;

  --ifm-font-family-base: 'Inter Variable', sans-serif;
  --ifm-color-primary: var(--clockworklabs-color-green);
  --ifm-color-primary-dark: var(--clockworklabs-color-green-dark);
  --ifm-color-primary-darker: var(--clockworklabs-color-green-darker);
  --ifm-color-primary-darkest: var(--clockworklabs-color-green-darkest);
  --ifm-color-primary-light: var(--clockworklabs-color-green-light);
  --ifm-color-primary-lighter: var(--clockworklabs-color-green-lighter);
  --ifm-color-primary-lightest: var(--clockworklabs-color-green-lightest);
  --ifm-background-color: var(--clockworklabs-color-n8);
  --ifm-color-content: var(--clockworklabs-color-n3);
  --ifm-toc-border-color: rgb(var(--clockworklabs-color-white-rgb) / 11%);
  --ifm-toc-link-color: var(--clockworklabs-color-n4);
  --ifm-code-background: var(--clockworklabs-code-background-color);
  --ifm-code-padding-horizontal: 0.125rem;
  --ifm-code-padding-vertical: 0.25rem;
  --ifm-hr-background-color: rgb(var(--clockworklabs-color-white-rgb) / 11%);
  --ifm-blockquote-color: var(--clockworklabs-color-n4);
  --ifm-menu-color: var(--clockworklabs-color-n3);
  --ifm-menu-link-sublist-icon: none;
  --ifm-breadcrumb-separator: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="rgb(182, 192, 207)" d="M79.093 0 48.907 30.187 146.72 128l-97.813 97.813L79.093 256l128-128z"/></svg>');
  --ifm-alert-background-color-highlight: var(--clockworklabs-color-red-2);
  --ifm-alert-foreground-color: var(--clockworklabs-color-white);
  --ifm-alert-border-color: var(--clockworklabs-color-orange);
  --ifm-background-surface-color: var(--clockworklabs-code-background-color);
  --ifm-color-secondary-darkest: var(--clockworklabs-color-n4);

  --ifm-navbar-link-color: var(--clockworklabs-color-n4);
  --ifm-navbar-link-hover-color: var(--clockworklabs-color-white);

  --ifm-leading: 16px;

  --ifm-tabs-padding-horizontal: 16px;
  --ifm-tabs-padding-vertical: 8px;

  --ifm-navbar-height: 56px;
}

:root .alert--info {
  --ifm-alert-background-color: var(--clockworklabs-color-shade1);
  --ifm-alert-foreground-color: var(--clockworklabs-color-blue);
  --ifm-alert-border-color: var(--clockworklabs-color-blue);
  --ifm-alert-background-color-highlight: var(--clockworklabs-code-background-color);
}

:root .alert--warning {
  --ifm-alert-background-color: var(--clockworklabs-color-shade1);
  --ifm-alert-foreground-color: var(--clockworklabs-color-orange);
  --ifm-alert-border-color: var(--clockworklabs-color-orange);
  --ifm-alert-background-color-highlight: var(--clockworklabs-code-background-color);
}

:root .alert--secondary {
  --ifm-alert-background-color: var(--clockworklabs-color-shade1);
  --ifm-alert-foreground-color: var(--clockworklabs-color-n3);
  --ifm-alert-border-color: var(--clockworklabs-color-n3);
  --ifm-alert-background-color-highlight: var(--clockworklabs-code-background-color);
}

:root .alert--danger {
  --ifm-alert-background-color: var(--clockworklabs-color-shade1);
  --ifm-alert-foreground-color: var(--clockworklabs-color-red);
  --ifm-alert-border-color: var(--clockworklabs-color-red);
  --ifm-alert-background-color-highlight: var(--clockworklabs-code-background-color);
}

:root .alert--success {
  --ifm-alert-background-color: var(--clockworklabs-color-shade1);
  --ifm-alert-foreground-color: var(--clockworklabs-color-n3);
  --ifm-alert-border-color: var(--clockworklabs-color-green);
  --ifm-alert-background-color-highlight: var(--clockworklabs-code-background-color);
}

html {
  background-color: var(--ifm-background-color);
}

html .main-wrapper {
  background-color: var(--ifm-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clockworklabs-title-color);
}

/** 
 * Note that in markdown heading sizes are downgraded by 1 level
 * relative to the style guide. 
 * i.e., markdown h1 uses h2 styles, markdown h2 uses h3 styles, etc.
 * Thus h6 is not styled here at all.
 */
.markdown h1 {
  font-size: var(--49px);
  line-height: var(--56px);
  font-weight: 400;
  letter-spacing: calc(var(--49px) * -0.04);
}

.markdown h2 {
  font-size: var(--39px);
  line-height: var(--44px);
  font-weight: 400;
  letter-spacing: calc(var(--39px) * -0.04);
}

.markdown h3 {
  font-size: var(--31px);
  line-height: var(--36px);
  font-weight: 400;
  letter-spacing: calc(var(--31px) * -0.04);
}

.markdown h4 {
  font-size: var(--25px);
  line-height: var(--28px);
  font-weight: 500;
  letter-spacing: calc(var(--25px) * -0.04);
}

.markdown h5 {
  font-size: var(--20px);
  line-height: var(--24px);
  font-weight: 600;
  letter-spacing: calc(var(--20px) * -0.04);
}

/* Body 2 - per the style guide */
p {
  font-weight: 350;
  color: var(--clockworklabs-color-n3);
  letter-spacing: -1%;
  font-size: var(--16px);
  line-height: var(--24px);
}

/* Code 2 - per the style guide */
.tmp {
  font-family: var(--clockworklabs-font-source);
  font-weight: 400;
  font-size: var(--14px);
  line-height: var(--20px);
  letter-spacing: -5%;
}

pre code {
  background-color: var(--clockworklabs-code-background-color);
  color: var(--clockworklabs-code-color);
  border: 1px solid var(--clockworklabs-code-border-color);
}

p code {
  color: var(--clockworklabs-code-color);
  border: 1px solid var(--clockworklabs-code-border-color);
}

li code {
  color: var(--clockworklabs-code-color);
  border: 1px solid var(--clockworklabs-code-border-color);
}

strong {
  color: var(--clockworklabs-strong-color);
}

.tabs__item {
  border-bottom-width: 1px;
}

.navbar {
  background-color: var(--ifm-background-color);
  border-bottom: 1px solid var(--clockworklabs-navbar-border-color);
  height: var(--ifm-navbar-height);

  .navbar__items--right {
    color: var(--clockworklabs-color-n4);
    font-family: var(--clockworklabs-font-source);
    font-size: var(--14px);
    line-height: var(--16px);
    letter-spacing: calc(var(--14px) * 0.08);
    text-transform: uppercase;
    font-weight: 600;

    a:not(.navbar__button) {
      font-weight: 600;
    }
  }

  [id^="inkeep-shadowradix"] {
    font-weight: 400;
  }
}

.navbar__logo {
  height: var(--36px);
}

.navbar__button {
  background-color: var(--clockworklabs-color-shade2);
  border: 1px solid var(--clockworklabs-color-n6);
  color: var(--clockworklabs-color-white);
  width: 73px;
  text-align: center;
  padding: 10px !important;
  border-radius: 4px;
  font-size: var(--14px);
  letter-spacing: -0.28px;
  font-weight: 700;
  margin-left: 16px;

  &:hover {
    opacity: 0.8;
  }
}

.menu {
  padding: 0 !important;
}

ul.theme-doc-sidebar-menu {
  margin: var(--24px);

  .menu__link {
    padding: 0;
  }

  .menu__list-item.sidebar-ghost>.menu__list-item-collapsible,
  .menu__list-item.sidebar-ghost>.menu__link {
    display: none;
  }

  .menu__list-item.sidebar-ghost>.menu__list {
    margin-left: 0;
  }

  li {
    margin: 0;
    margin-bottom: var(--16px);
    padding: 0;
    overflow: hidden;
    color: var(--clockworklabs-color-n1);
    text-overflow: ellipsis;

    /* Interactive/Menu */
    font-family: var(--clockworklabs-font-source);
    font-size: var(--14px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--16px);
    letter-spacing: 1.12px;
    text-transform: uppercase;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: none;

        /* Code/Code 2 */
        font-family: var(--clockworklabs-font-source);
        font-size: var(--14px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--20px);
        letter-spacing: -0.7px;

        a {
          padding: 8px !important;
          color: rgba(var(--clockworklabs-color-n3-rgb), 0.7);
        }

        .menu__link--active {
          border-radius: var(--8px);
          box-shadow: inset 0 0 0 1px var(--clockworklabs-color-n6);
          background: var(--clockworklabs-color-shade1) !important;
          color: rgba(var(--clockworklabs-color-n1-rgb), 0.7) !important;
        }
      }

      a:hover {
        color: rgba(var(--clockworklabs-color-n1-rgb), 0.7) !important;
      }
    }
  }

  .menu__link--active {
    color: var(--clockworklabs-color-n3) !important;
  }
}

.menu__list-item:not(:first-child) {
  margin-top: 0 !important;
}

.menu__list .menu__list {
  padding: 0;
}

.footer {
  background-color: var(--ifm-background-color);
}

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: var(--clockworklabs-color-white);
  letter-spacing: -0.01em;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.75;

  thead {
    color: var(--clockworklabs-strong-color);
    text-align: left;

    tr {
      border-bottom: none;
    }
  }

  tr {
    border-top: none;
  }

  td {
    border: 1px solid var(--clockworklabs-color-n6);
    padding: 0.5rem 0.75rem;

    code {
      background-color: var(--clockworklabs-code-background-color);
      color: var(--clockworklabs-code-color);
      border: 1px solid var(--clockworklabs-code-border-color);
    }
  }

  th {
    border: 1px solid var(--clockworklabs-color-n6);
    padding: 0.5rem 0.75rem;
  }
}

/* Make the page content left aligned */
.container {
  margin: 0 2rem 0;
}

@media screen and (max-width: 996px) {

  /* Make the page content full width on smaller screens */
  .container {
    margin: 0;
  }

  .DocSearch {
    width: inherit;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 16px 0 16px 0;
}

/* 996px is the breakpoint between desktop and mobile in Docusaurus */
@media screen and (max-width: 996px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

a.card {
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
    
  &.card--invert-icon svg {
    filter: invert(100%);
  }

  svg {
    min-width: 40px;
  }

  .card--body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 0;
    max-width: 100%;

    p {
      margin: 0;
    }
  }

  border-radius: 8px;
  border: 1px solid var(--clockworklabs-color-n6);
  background: var(--clockworklabs-code-background-color);
  padding: 16px 24px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--clockworklabs-color-n5);
  }

  h6 {
    margin: 0;
  }
}