/*
    This is copied verbatim from: https://github.com/clockworklabs/spacetime-web/blob/main/spacetimedb.com/app/styles/typography.css
    IMPORTANT! Any changes should be propagated to that file as well.

    We use the following type ramp for headers and values on the site:

    https://www.figma.com/design/eb3GHGRnwqNx4iWXfwwVSS/SpacetimeDB-Library?node-id=3302-671&p=f&t=sQfp0SteZDkGVHpU-0

    It is based on the Inter font family with a 16px base, on the Major Third
    scale (1.25 ratio):
    
    https://www.modularscale.com/?16&px&1.25

    The following font sizes are copied from the Figma design. The font size is
    rounded to the nearest whole number of pixels, and the line height is
    rounded to the nearest multiple of 4 pixels.

    hero: 144px/158px
    
    h1: 61px/72px
    h2: 49px/56px
    h3: 39px/44px
    h4: 31px/36px
    h5: 25px/28px
    h6: 20px/24px

    value1: 49px/56px
    value2: 31px/36px
    value3: 14px/20px

    body1: 18px/28px
    body2: 16px/24px
    body3: 14px/20px

    code1: 16px/24px
    code2: 14px/20px

    menu: 14px/16px

    tagline1: 14px/16px
    tagline2: 12px/12px

    caption1: 12px/16px
    caption2: 11px/12px
    caption3: 10px/12px

    We always use rem for font sizes and line heights to ensure that the text
    scales with the user's browser settings.  However, we always use px for all
    other measurements to ensure that the layout remains consistent across all
    devices.
    
    See:
    https://www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/
    
    We convert between rem and px assuming a base font size of 16px. This is the
    default font size in most browsers, and it's the size that most users have
    configured in their browser settings.
    
    I've included a table at the end of the file that does the conversion
    between rem and px for the most common font sizes.
*/

.text-hero {
    font-size: 144px;
    line-height: var(--158px);
    font-weight: 800;
    letter-spacing: calc(var(--144px) * -0.04);

    @media (max-width: 1023px) {
        font-size: var(--108px);
        line-height: var(--118px);
    }

    @media (max-width: 767px) {
        font-size: var(--81px);
        line-height: var(--90px);
    }
}

h1,
.text-xl {
    font-size: var(--61px);
    line-height: var(--72px);
    font-weight: 400;
    letter-spacing: calc(var(--61px) * -0.04);
}

h2,
.text-l {
    font-size: var(--49px);
    line-height: var(--56px);
    font-weight: 400;
    letter-spacing: calc(var(--49px) * -0.04);
}

h3,
.text-m {
    font-size: var(--39px);
    line-height: var(--44px);
    font-weight: 400;
    letter-spacing: calc(var(--39px) * -0.04);
}

h4,
.text-s {
    font-size: var(--31px);
    line-height: var(--36px);
    font-weight: 400;
    letter-spacing: calc(var(--31px) * -0.04);
}

h5,
.text-xs {
    font-size: var(--25px);
    line-height: var(--28px);
    font-weight: 500;
    letter-spacing: calc(var(--25px) * -0.04);
}

h6,
.text-xxs {
    font-size: var(--20px);
    line-height: var(--24px);
    font-weight: 600;
    letter-spacing: calc(var(--20px) * -0.04);
}

.text-value-1 {
    font-family: var(--font-source);
    font-size: var(--49px);
    line-height: var(--56px);
    letter-spacing: calc(var(--49px) * 0);
}

.text-value-2 {
    font-family: var(--font-source);
    font-size: var(--31px);
    line-height: var(--36px);
    letter-spacing: calc(var(--31px) * 0);
}

.text-value-3 {
    font-family: var(--font-source);
    font-size: var(--14px);
    line-height: var(--20px);
    font-weight: 600;
    letter-spacing: calc(var(--14px) * 0);
}

.text-body-1 {
    font-size: var(--21px);
    line-height: var(--32px);
    letter-spacing: calc(var(--18px) * -0.01);
}

.text-body-2 {
    font-size: var(--16px);
    line-height: var(--24px);
    letter-spacing: calc(var(--16px) * -0.01);
}

.text-body-3 {
    font-size: var(--12px);
    line-height: var(--16px);
    letter-spacing: calc(var(--14px) * -0.01);
}

.text-code-1 {
    font-family: var(--font-source);
    font-size: var(--16px);
    line-height: var(--24px);
    letter-spacing: calc(var(--16px) * -0.05);
}

.text-code-2 {
    font-family: var(--font-source);
    font-size: var(--14px);
    line-height: var(--20px);
    letter-spacing: calc(var(--14px) * -0.05);
}

.text-menu {
    font-family: var(--font-source);
    font-size: var(--14px);
    line-height: var(--16px);
    font-weight: 600;
    letter-spacing: calc(var(--14px) * 0.08);
    text-transform: uppercase;
}

.text-tagline-1 {
    font-family: var(--font-source);
    font-size: var(--14px);
    line-height: var(--16px);
    font-weight: 600;
    letter-spacing: calc(var(--14px) * 0);
    text-transform: uppercase;
}

.text-tagline-2 {
    font-family: var(--font-source);
    font-size: var(--12px);
    line-height: var(--12px);
    font-weight: 600;
    letter-spacing: calc(var(--12px) * 0.02);
    text-transform: uppercase;
}

.text-caption-1 {
    font-size: var(--12px);
    line-height: var(--16px);
    letter-spacing: calc(var(--12px) * 0.01);
}

.text-caption-2 {
    font-size: var(--11px);
    line-height: var(--12px);
    letter-spacing: calc(var(--11px) * 0.01);
}

.text-caption-3 {
    font-size: var(--10px);
    line-height: var(--12px);
    letter-spacing: calc(var(--10px) * 0.01);
}

:root {
    --8px: 0.5rem;
    --9px: 0.5625rem;
    --10px: 0.625rem;
    --11px: 0.6875rem;
    --12px: 0.75rem;
    --13px: 0.8125rem;
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --22px: 1.375rem;
    --23px: 1.4375rem;
    --24px: 1.5rem;
    --25px: 1.5625rem;
    --26px: 1.625rem;
    --27px: 1.6875rem;
    --28px: 1.75rem;
    --29px: 1.8125rem;
    --30px: 1.875rem;
    --31px: 1.9375rem;
    --32px: 2rem;
    --33px: 2.0625rem;
    --34px: 2.125rem;
    --35px: 2.1875rem;
    --36px: 2.25rem;
    --37px: 2.3125rem;
    --38px: 2.375rem;
    --39px: 2.4375rem;
    --40px: 2.5rem;
    --41px: 2.5625rem;
    --42px: 2.625rem;
    --43px: 2.6875rem;
    --44px: 2.75rem;
    --45px: 2.8125rem;
    --46px: 2.875rem;
    --47px: 2.9375rem;
    --48px: 3rem;
    --49px: 3.0625rem;
    --50px: 3.125rem;
    --51px: 3.1875rem;
    --52px: 3.25rem;
    --53px: 3.3125rem;
    --54px: 3.375rem;
    --55px: 3.4375rem;
    --56px: 3.5rem;
    --57px: 3.5625rem;
    --58px: 3.625rem;
    --59px: 3.6875rem;
    --60px: 3.75rem;
    --61px: 3.8125rem;
    --62px: 3.875rem;
    --63px: 3.9375rem;
    --64px: 4rem;
    --65px: 4.0625rem;
    --66px: 4.125rem;
    --67px: 4.1875rem;
    --68px: 4.25rem;
    --69px: 4.3125rem;
    --70px: 4.375rem;
    --71px: 4.4375rem;
    --72px: 4.5rem;
    --81px: 5.0625rem;
    --90px: 5.625rem;
    --108px: 6.75rem;
    --118px: 7.40625rem;
    --144px: 9rem;
    --158px: 9.875rem;
}