[package]
name = "spacetimedb-cli"
version = "0.5.0"
edition = "2021"
license-file = "LICENSE"
description = "A command line interface for SpacetimeDB"

[lib]
bench = false

[[bin]]
name = "spacetime"
path = "src/main.rs"
# Benching off, because of https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
bench = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.2.4", features = ["derive", "env"] }
reqwest = { version = "0.11.10", features = ["stream", "json"] }
tokio = { version = "1", features = ["full"] }
anyhow = { version = "1.0.57", features = ["backtrace"] }
serde = { version = "1.0.136" , features = ["derive"] }
serde_json = { version = "1.0", features = ["raw_value", "preserve_order"] }
toml = "0.5"
dirs = "4.0"
tabled = "0.8.0"
spacetimedb-lib = { path = "../lib", version = "0.5.0" }
spacetimedb-standalone = { path = "../standalone", version = "0.5.0" }
convert_case = "0.6.0"
wasmtime = { version = "7", default-features = false, features = ["cranelift"] }
colored = "2.0.0"
duct = "0.13.5"
base64 = "0.13.1"
slab = "0.4.7"
cargo_metadata = "0.15.2"
email_address = "0.2.4"
termcolor = "1.2.0"
is-terminal = "0.4"
futures = "0.3"
tempfile = "3.3"
rustyline =  { version = "11.0.0", features = [] }
syntect = { version = "5.0.0", default-features = false, features = ["default-fancy"]}
wasmbin = "0.6"
itertools = "0.10"

[dev-dependencies]
insta = { version = "1.21.0", features = ["toml"] }

[features]
tracelogging = []
