[package]
name = "spacetimedb-cli"
version = "0.7.0"
edition = "2021"
license-file = "LICENSE"
description = "A command line interface for SpacetimeDB"

[lib]
bench = false

[[bin]]
name = "spacetime"
path = "src/main.rs"
# Benching off, because of https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
bench = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
spacetimedb-core = { path = "../core", version = "0.7.0" }
spacetimedb-lib = { path = "../lib", version = "0.7.0", features = ["cli"] }
spacetimedb-standalone = { path = "../standalone", version = "0.7.0", optional = true }

anyhow.workspace = true
base64.workspace = true
cargo_metadata.workspace = true
clap = {workspace = true, features = ["derive", "env", "string"]}
colored.workspace = true
convert_case.workspace = true
dirs.workspace = true
duct.workspace = true
email_address.workspace = true
futures.workspace = true
is-terminal.workspace = true
itertools.workspace = true
jsonwebtoken.workspace = true
nonempty.workspace = true
reqwest.workspace = true
rustyline.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["raw_value", "preserve_order"] }
slab.workspace = true
syntect.workspace = true
tabled.workspace = true
tempfile.workspace = true
termcolor.workspace = true
tokio.workspace = true
toml.workspace = true
wasmbin.workspace = true
wasmtime.workspace = true

[dev-dependencies]
insta.workspace = true

[features]
standalone = ["spacetimedb-standalone"]
default = ["standalone"]
