[package]
name = "spacetimedb-schema"
version.workspace = true
edition.workspace = true
license-file = "LICENSE"
description = "Schema library for SpacetimeDB"
rust-version.workspace = true

[dependencies]
spacetimedb-lib.workspace = true
spacetimedb-primitives.workspace = true
spacetimedb-sats.workspace = true
spacetimedb-data-structures.workspace = true
itertools.workspace = true

[dev-dependencies]
spacetimedb-lib = { workspace = true, features = ["test"] }
