[package]
name = "spacetimedb-sdk"
version = "0.8.1"
edition = "2021"
license-file = "LICENSE"
description = "A Rust SDK for clients to interface with SpacetimeDB"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
spacetimedb-sats = { path = "../sats", version = "0.8.1" }
spacetimedb-lib = { path = "../lib", version = "0.8.1" }
spacetimedb-client-api-messages = { path = "../client-api-messages", version = "0.8.1" }

anyhow.workspace = true
anymap.workspace = true
base64.workspace = true
futures.workspace = true
futures-channel.workspace = true
home.workspace = true
http.workspace = true
im.workspace = true
lazy_static.workspace = true
log.workspace = true
prost.workspace = true
rand.workspace = true
tokio.workspace = true
tokio-tungstenite.workspace = true

[dev-dependencies]
# for quickstart-chat and cursive-chat examples
hex.workspace = true
# for cursive-chat example
cursive.workspace = true
futures-channel.workspace = true

# for tests
spacetimedb-testing = { path = "../testing" }
