[package]
name = "spacetimedb-sats"
version = "0.6.0"
edition = "2021"
license-file = "LICENSE"
description = "Spacetime Algebraic Type Notation"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
serde = ["dep:serde", "hex"]

[dependencies]
decorum = { version = "0.3.1", default-features = false, features = ["std"] }
enum-as-inner = "0.6"
serde = { version = "1.0.136", optional = true }
spacetimedb-bindings-macro = { path = "../bindings-macro", version = "0.6.0" }
hex = { version = "0.4.3", optional = true }
itertools = "0.10.5"
thiserror = "1.0.38"
arrayvec = "0.7.2"

[dev-dependencies]
rand = "0.8.5"
bytes = "1.2.1"
proptest = "1.1.0"
