[package]
name = "spacetimedb-sats"
version = "0.6.1"
edition = "2021"
license-file = "LICENSE"
description = "Spacetime Algebraic Type Notation"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
serde = ["dep:serde", "hex"]

[dependencies]
spacetimedb-bindings-macro.workspace = true

arrayvec.workspace = true
decorum.workspace = true
enum-as-inner.workspace = true
hex = { workspace = true, optional = true }
itertools.workspace = true
serde = { workspace = true, optional = true }
thiserror.workspace = true

[dev-dependencies]
bytes.workspace = true
proptest.workspace = true
rand.workspace = true
