[package]
name = "spacetimedb-paths"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license-file = "LICENSE"
description = "The spacetimedb directory structure, represented as a type hierarchy"

[dependencies]
anyhow.workspace = true
chrono = { workspace = true, features = ["now"] }
fs2.workspace = true
itoa.workspace = true
semver.workspace = true
serde.workspace = true
thiserror.workspace = true

[target.'cfg(windows)'.dependencies]
dirs.workspace = true
junction.workspace = true

[target.'cfg(not(windows))'.dependencies]
xdg.workspace = true

[dev-dependencies]
tempfile.workspace = true
