[package]
name = "spacetimedb-paths"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license-file = "LICENSE"
description = "The spacetimedb directory tructure, represented as a type hierarchy"

[dependencies]
anyhow.workspace = true
chrono.workspace = true
fs2.workspace = true
itoa.workspace = true
serde.workspace = true
thiserror.workspace = true

[target.'cfg(windows)'.dependencies]
dirs.workspace = true

[target.'cfg(not(windows))'.dependencies]
xdg.workspace = true
