.reference-line-label {
  display: flex;
  padding: var(--Spacer-1, 4px) var(--Spacer-4, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacer-2, 8px);
  color: var(--color-green);
  text-align: center;
  fill: var(--color-green);
  border-radius: 100px;
  border: 1px solid var(--primary-colors-green-100, #4cf490);
  background: var(--Shades-Ash, #141416);
}
