[package]
name = "spacetimedb-standalone"
version = "0.5.0"
edition = "2021"
publish = false

[[bin]]
name = "spacetimedb"   # The name of the target.
path = "src/main.rs"   # The source file of the target.
test = true            # Is tested by default.
bench = false          # Benching off, because of https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
doc = false            # Is documented by default.
plugin = false         # Used as a compiler plugin (deprecated).
proc-macro = false     # Set to `true` for a proc-macro library.
harness = true         # Use libtest harness.
required-features = [] # Features required to build this target (N/A for lib)

[dependencies]
spacetimedb-core = { path = "../core" }
spacetimedb-lib = { path = "../lib" }
spacetimedb-client-api = { path = "../client-api" }
tokio = { version = "1.2", features = ["full"] }
anyhow = { version = "1.0.57", features = ["backtrace"] }
prometheus = "0.13.0"
hostname = "^0.3"
clap = { version = "4.2.4", features = ["derive", "string"] }
sled = "0.34.7"
async-trait = "0.1.60"
log = "0.4.16"
axum = "0.6"
openssl = "0.10.54"
http = "0.2.9"
tower-http = { version = "0.4.1", features = ["cors"]}

[dev-dependencies]
serde_json = "1.0"
