<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local NuGet repositories -->
    <add key="Local SpacetimeDB.BSATN.Runtime" value="C:\Projects\ClockworkLabs\com.clockworklabs.spacetimedbsdk\packages\spacetimedb.bsatn.runtime" />
    <add key="Local SpacetimeDB.ClientSDK.Runtime" value="C:\Projects\ClockworkLabs\com.clockworklabs.spacetimedbsdk\bin~\Release" />
  </packageSources>
  <packageSourceMapping>
    <!-- Ensure that SpacetimeDB.BSATN.Runtime is used from the local folder. -->
    <!-- Otherwise we risk an outdated version being quietly pulled from NuGet for testing. -->
    <packageSource key="Local SpacetimeDB.BSATN.Runtime">
      <package pattern="SpacetimeDB.BSATN.Runtime" />
    </packageSource>
    <packageSource key="Local SpacetimeDB.ClientSDK.Runtime">
      <package pattern="SpacetimeDB.ClientSDK" />
    </packageSource>
    <!-- Fallback for other packages (e.g. test deps). -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>