{
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "endOfLine": "auto",
    "printWidth": 80
}
