{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "endOfLine": "auto",
    "printWidth": 80
}
