on:
  pull_request:
  push:
    branches:
      - master
  merge_group:
  workflow_dispatch:
    inputs:
      pr_number:
        description: "Pull Request Number"
        required: false
        default: ""

name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.inputs.pr_number || format('sha-{0}', github.sha) }}
  cancel-in-progress: true

jobs:
  ci-test:
    name: CI Test job (${{matrix.name}})
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Custom runner
            runner: spacetimedb-new-runner-2
          - name: Hosted runner
            runner: ubuntu-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - run: |
          OUT="$(false)"
          echo "ERROR: This should not be printed!"
