on:
  pull_request:
  push:
    branches:
      - master
  merge_group:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'Pull Request Number'
        required: false
        default: ''

name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.inputs.pr_number || format('sha-{0}', github.sha) }}
  cancel-in-progress: true

jobs:
  docker_smoketests:
    name: Smoketests
    strategy:
      fail-fast: false
      matrix:
        runner: [spacetimedb-new-runner, windows-latest]
        include:
          - runner: spacetimedb-new-runner
            smoketest_args: --docker
            container:
              image: localhost:5000/spacetimedb-ci:latest
              options: --privileged
          - runner: windows-latest
            smoketest_args: --no-build-cli
            container: null
    runs-on: ${{ matrix.runner }}
    container: ${{ matrix.container }}
    timeout-minutes: 120
    env:
      CARGO_TARGET_DIR: ${{ github.workspace }}/target
      # Note: clear_database and replication only work in private
      SMOKETEST_ARGS: ${{ matrix.smoketest_args }} -x clear_database replication teams
    steps:
      - name: Find Git ref
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          PR_NUMBER="${{ github.event.inputs.pr_number || null }}"
          if test -n "${PR_NUMBER}"; then
            GIT_REF="$( gh pr view --repo clockworklabs/SpacetimeDB $PR_NUMBER --json headRefName --jq .headRefName )"
          else
            GIT_REF="${{ github.ref }}"
          fi
          echo "GIT_REF=${GIT_REF}" >>"$GITHUB_ENV"
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{ env.GIT_REF }}
      - uses: dsherret/rust-toolchain-file@v1
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ${{ github.workspace }}
          shared-key: spacetimedb
          cache-on-failure: false
          cache-all-crates: true
          cache-workspace-crates: true

      - name: Expand Docker network pool
        if: runner.os == 'Linux'
        run: |
          echo 'current contents:'
          cat /etc/docker/daemon.json
          echo 'New contents':
          echo '{
            "storage-driver": "vfs",
            "default-address-pools": [
              { "base": "10.10.0.0/16", "size": 24 },
              { "base": "10.20.0.0/16", "size": 24 }
            ]
          }' | sudo tee /etc/docker/daemon.json
          sudo service docker restart
      - name: Start Docker daemon
        if: runner.os == 'Linux'
        run: /usr/local/bin/start-docker.sh
      - name: Check docker info
        if: runner.os == 'Linux'
        run: |
          docker info
      # the sdk-manifests on windows-latest are messed up, so we need to update them
      - name: Fix sdk-manifests
        if: runner.os == 'Windows'
        working-directory: modules
        # Powershell doesn't early-exit properly from a multi-line command if one fails
        shell: bash
        run: |
          dotnet workload config --update-mode manifests
          dotnet workload update
      - uses: actions/setup-python@v5
        with: { python-version: '3.12' }
        if: runner.os == 'Windows'
      - name: Install python deps
        run: python -m pip install -r smoketests/requirements.txt
      - name: Run smoketests (Linux)
        if: runner.os == 'Linux'
        run: |
          export RUST_LOG=debug
          # Pre-build the crates because this docker compose file uses whatever's pre-built
          cargo build -p spacetimedb-cli -p spacetimedb-standalone -p spacetimedb-update
          # Our .dockerignore omits `target`, which our CI Dockerfile needs.
          rm .dockerignore
          cargo ci smoketests --docker .github/docker-compose.yml --parallel -- ${SMOKETEST_ARGS}
      - name: Install OpenSSL via vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: 'latest'
        if: runner.os == 'Windows'
      - name: Run smoketests (Windows)
        if: runner.os == 'Windows'
        env:
          OPENSSL_NO_VENDOR: 1
          VCPKG_ROOT: ${{ env.VCPKG_ROOT }}
          # Required so openssl-sys finds vcpkg libs
          OPENSSL_DIR: ${{ env.VCPKG_ROOT }}/installed/x64-windows
        run: |
          export OPENSSL_NO_VENDOR=1
          cargo ci smoketests --parallel -- ${SMOKETEST_ARGS}

