name: Build MacOS SpacetimeDB CLI

on:
  push:
    tags:
      - '**'
    branches:
      - master
      - release/*

jobs:
  macos-cli:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Add aarch64 target
        run: |
          rustup target add aarch64-apple-darwin

      - name: Compile x86
        run: |
          cargo build --release -p spacetimedb-cli
          mkdir build
          dd if=target/release/spacetime of=build/spacetime conv=noerror,sync  
          cd build && tar -czf spacetime.darwin-amd64.tar.gz spacetime
          rm spacetime

      - name: Compile Aarch64
        run: |
          cargo build --release -p spacetimedb-cli --target=aarch64-apple-darwin
          dd if=target/aarch64-apple-darwin/release/spacetime of=build/spacetime conv=noerror,sync  
          cd build && tar -czf spacetime.darwin-arm64.tar.gz spacetime
          rm spacetime

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Upload to DO Spaces
        uses: shallwefootball/s3-upload-action@master
        with:
          aws_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: ${{ vars.AWS_BUCKET }}
          source_dir: build
          endpoint: https://nyc3.digitaloceanspaces.com
          destination_dir: ${{ steps.extract_branch.outputs.branch }}
