name: Upgrade Version Check

on:
  pull_request:
    types: [opened, synchronize]
  merge_group:
permissions: read-all

jobs:
  version_upgrade_check:
    runs-on: spacetimedb-new-runner
    container:
      image: localhost:5000/spacetimedb-ci:latest
      options: >-
        --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Verify that upgrade-version still works
        run: cargo bump-versions 123.456.789 --rust-and-cli --csharp --typescript
      - name: Show diff
        run: git diff HEAD

